.cabecalho {
  background: var(--white);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.register-button {
  padding: 0.7rem 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  background: var(--gradient);
  font-weight: 500;
  color: var(--white);
}
