.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.overflow {
  height: 400px;
  overflow: auto;
  width: 870px;
}

.lista__table {
  background-color: var(--gray-400);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

  margin: 50px auto;
  border-collapse: collapse;
  width: 850px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.lista__header tr {
  background: var(--yellow-gradient);
  color: var(--gray-500);
  font-weight: bold;
  text-align: left;
}

.lista__table th,
.lista__table td {
  padding: 12px 15px;
}

.lista__table td:nth-child(1) {
  width: 30%;
}

.lista__table td:nth-child(2) {
  width: 30%;
}

.lista__body tr:nth-of-type(even) {
  background-color: var(--gray-300);
}
