@import url('./header.css');
@import url('./modal.css');
@import url('./home.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --gray-700: #121214;
  --gray-600: #202024;
  --gray-500: #29292e;
  --gray-400: #323238;
  --gray-300: #4c4c51;
  --gray-100: #d5d5dc;

  --brand-yellow: #eddc11;
  --brand-purple: #791a5a;

  --purple-gradient: linear-gradient(125deg, #24072a, #791a5a);
  --yellow-gradient: linear-gradient(140deg, #eddc11, 20%, #ebda4c);

  --error: #e25858;
}

body {
  background: var(--gray-700);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  border: none;
  font: 400 1.6rem -apple-system, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-300);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-500);
  border-radius: 999px;
}
