* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --gray-700: #121214;
  --gray-600: #202024;
  --gray-500: #29292e;
  --gray-400: #323238;
  --gray-300: #7c7c8a;
  --gray-200: #c4c4cc;
  --gray-100: #e1e1e6;

  --base-green: #00875f;
  --green-dark: #015f43;
  --green-light: #00b37e;
}

body {
  background: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  border: none;
  font: 400 1.6rem -apple-system, system-ui, sans-serif;
}
