@import url('./header.css');
@import url('./modal.css');
@import url('./home.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --secondary: #f1f8ff;
  --gradient: linear-gradient(90deg, #ff8889, #ffa773);
  --background: #f2f2f2;
  --fade: #ebf4f2;
  --white: #fff;
  --gray: #f3f3f3;
  --primary: #ff945a;
}

body {
  background: var(--background);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  border: none;
  font: 400 1.6rem -apple-system, system-ui, sans-serif;
}
